<div class="jumbotron text-center">
    <h1>
        Req.Burger!
    </h1>
</div>
<div class="container">
    <div class="row burger-view">
        <div class="col-md-6 before text-center mx-auto">
            <h3>burgers before eaten</h3>
            <div class="burger-display mx-auto">
                <ul class="text-left">
                    {{#each burger}} 
                        {{#unless devoured}}
                            <li data-id="{{id}}">
                                {{burger_name}}
                                <button class="eat" data-id="{{id}}">Req Dat Burger!</button>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-6 devoured text-center mx-auto">
            <h3>Devoured Burgers</h3>
            <div class="burger-display mx-auto">
                <ul class="text-left">
                    {{#each burger}} 
                        {{#if devoured}}
                        <li data-id="{{id}}">
                            {{burger_name}}
                            {{!-- <button class="delete" data-id="{{id}}">Delete</button> --}}
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row burger-form mx-auto text-center">
        <div class="col-md-12 text-center mx-auto">
            <h3>Create New Burger</h3>
            <div class="burger-form mx-auto">
                <div class="input">
                    <input type="text mx-auto" id="burger-input">
                </div>
                <div class="submit-form">
                    <button class="submit">Add Dat Burger</button>
                </div>
            </div>
        </div>
    </div>
</div>